.wrapper {
  h1 {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 26px;

    @media screen and (width >= 768px) {
      font-size: 32px;
    }
  }

  h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 12px;

    @media screen and (width >= 768px) {
      font-size: 24px;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  p {
    margin-bottom: 12px;
  }

  ul {
    list-style-type: disc;
    margin-left: 24px;
  }
  li {
    margin-bottom: 8px;
  }

  hr {
    margin: 20px 0;
  }

  a {
    color: var(--primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  table {
    width: 100%;
    margin: 12px 0;
    table-layout: fixed;
    border-bottom: 1px solid #eee;

    th {
      text-align: left;
    }

    th, td {
      padding: 5px;
    }

    tr:nth-child(odd) td {
      background-color: #eee;
    }
  }
}
